<div id="bilgeFrame"
     [style.height]="HEIGHT*50 + 'px'"
     [style.width]="WIDTH*50 + 'px'">
  <div *ngFor="let t of tiles"
       class="tile"
       [style.top]="t.y*50 + 'px'"
       [style.left]="t.x*50 + 'px'"
       [style.background]="colors[t.color]"
       (mouseover)="hoverTile(t)"
       (click)="swapTiles()"></div>

  <div id="cursor"
       [style.top]="cursor.y*50 + 'px'"
       [style.left]="cursor.x*50 + 'px'"></div>
</div>

<button (click)="buildTiles()">Randomize</button>
